@import "tailwindcss";

@layer base {
  .font-body {
    font-family:
      var(--font-body), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif;
  }

  .font-heading {
    font-family: var(--font-heading), "Times New Roman", serif;
  }
}
